{% include 'header.html' %}
<div class="container mt-4">
        <h1>Welcome, Student!</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Upcoming Assignments</h5>
                <p class="card-text">You have two assignments due this week. Stay on top of your work!</p>
                <a href="/student/Viewassignment/" class="btn btn-primary">View Assignments</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Grades</h5>
                <p class="card-text">Check your latest grades and track your progress in your courses.</p>
                <a href="/student/GradeSheet/" class="btn btn-primary">View Grades</a>
              </div>
            </div>
          </div>
        </div>
      </div>
{% include 'footer.html' %}