{% include 'header.html' %}

<div class="contact" 
style = " margin: 0 auto; /* Center the form horizontally */
          max-width: 400px; /* Adjust the maximum width as needed */
          padding: 20px;
          background-image : url('/static/images/contact_image.jpg')">
  <div class="form-container">
    <h2>Contact Us</h2>
    <hr>
    <form action="https://your-action-url-here.com" method="post">
      <label for="name">Your Name:</label><br>
      <input type="text" id="name" name="name" placeholder="Enter your name" required><br><br>
      <label for="email">Your E-mail:</label><br>
      <input type="email" id="email" name="email" placeholder="Enter your email" required><br><br>
      <label for="message">Your Message:</label>
      <textarea id="message" name="message" rows="4" placeholder="Enter your message..." required></textarea><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
  
   
{% include 'footer.html' %}