<div style="background-color:pink;">
    <div  class="container">
    <div class="row">
      <div class="col-4 banner-box"><a>        
      <img class="banner" src="/static/images/school%201.jpg" alt="" ></a></div>
      <div class="col-6 heading"> <a><h3>Welcome to School Managment
        <br>
      Website and Information System</h3></a>
       <br> 
      <a><p> School Management System is a complete school <br>manangement software designed to automate a school's<br>diverse operations</p>
       </a></div>
    </div>
  </div>
  </div>




    {% comment %} <div  style="background-color: lightpink;" class="row g-0">
    <div class="col-md-5">
      <img style="margin:20px;" src="/static/images/school%203.jfif" class="img-fluid rounded-start" alt="..."width="100px" height="100px" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 style="margin:20px;" class="card-title">july 27,2022<br>Latest School News</h5>
        <p class="card-text"></p>
     
      </div>
    </div>
  </div> {% endcomment %}
  {% comment %} <div  style="background-color: lightgreen;" class="row g-0">
    <div class="col-md-4">
      <img style="margin:20px;" src="/static/images/school%204.jfif" class="img-fluid rounded-start" alt="..."width="100px" height="100px" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 style="margin:20px;" class="card-title">july 28,2022<br>Latest School News</h5>
        <p class="card-text"></p>
        <p  style="float: right;"class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div> {% endcomment %}